html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin-left: 0;
  margin-right: 0;
}

body {
  margin: 0;
  background-color: #FFFFFF;
  font-size: 14px;
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

body.modal-open {
  overflow: hidden;
}

body.menu-open {
  overflow: hidden;
}

.card-set.list, .buttons-section__list, .footer-networks__list, .footer-list, .section-clients__list, .teams-section__list, .skills-section__list, .network-list, .auth-nav__list, .site-nav__list {
  list-style: none;
}

.footer-address__link, .network-link, .auth-nav__link, .site-nav__link {
  text-decoration: none;
}

.buttons-section, .footer-container, .clients-container, .teams-container, .skills-container, .container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .buttons-section, .footer-container, .clients-container, .teams-container, .skills-container, .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .buttons-section, .footer-container, .clients-container, .teams-container, .skills-container, .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .buttons-section, .footer-container, .clients-container, .teams-container, .skills-container, .container {
    width: 1200px;
  }
}

@media screen and (max-width: 1200px) {
  .section-clients {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section-clients {
    padding-bottom: 94px;
    padding-top: 94px;
  }
}

.logo {
  color: #212121;
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.03em;
}

.logo span {
  color: #2196F3;
}

.footer-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  text-decoration: none;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.footer-logo span {
  color: #2196F3;
}

.page-header {
  border-bottom: 1px solid #ECECEC;
  position: relative;
}
.page-header .container-button {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 80px;
}

.site-nav__list {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  text-align: center;
  letter-spacing: 0.02em;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 302px;
}
.site-nav__list .site-nav__link {
  color: #212121;
}
.site-nav__list .site-nav__link:hover, .site-nav__list .site-nav__link:focus {
  color: #2196F3;
}
.site-nav__list .active {
  color: #2196F3;
}

.site-nav__item:not(:last-child) {
  margin-bottom: 35px;
}

.site-nav__link {
  color: #212121;
}

.auth-nav__list {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.auth-nav__list .auth-nav__link:hover, .auth-nav__list .auth-nav__link:focus {
  color: #2196F3;
}

.auth-nav__link {
  color: #757575;
}

.auth-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.network-list {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 0px;
  margin-top: 64px;
}

.network-link {
  color: #2196F3;
}

.network-item:not(:last-child) {
  margin-right: 20px;
}

.button-menu {
  display: inline-flex;
  margin: 0px;
  padding: 0px;
  border: none;
  background-color: transparent;
  width: 50px;
  background-color: #2196F3;
}
@media screen and (min-width: 767px) {
  .button-menu {
    display: none;
  }
}

.button-menu.icon-cross {
  display: none;
}

.button-menu .is-open .icon-cross {
  display: block;
}

.button-menu .is-open .icon-menu {
  display: none;
}

.menu-svg {
  width: 24px;
  height: 20px;
}

.menu-container.is-open {
  display: block;
}

.menu-container {
  display: block;
  position: absolute;
  top: 100%;
  left: 0%;
  width: 100%;
  text-align: center;
  padding: 48px 40px;
  background-color: #FFFFFF;
}
@media screen and (max-width: 480px) {
  .menu-container {
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
  }
}
@media screen and (min-width: 767px) {
  .menu-container {
    display: none;
  }
}

.network-item {
  display: flex;
  flex-wrap: nowrap;
}

.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  padding: 0 15px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8)), url(/images/Header\ img.jpg);
  background-size: cover;
}

.hero-section__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  letter-spacing: 0.06em;
  margin-bottom: 30px;
  text-align: center;
  color: #FFFFFF;
}

.hero-section__button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  padding: 10px 24px;
  background: #2196F3;
  border: 0;
  border-radius: 4px;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  cursor: pointer;
}

.skills-section {
  background-color: #FFFFFF;
}

.skills-section__list {
  padding: 60px 15px 60px 15px;
  margin: 0px;
}
@media screen and (min-width: 768px) {
  .skills-section__list {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .skills-section__list {
    display: flex;
    flex-wrap: nowrap;
    margin: -15px;
  }
}

@media screen and (max-width: 767px) {
  .skills-section__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 768px) {
  .skills-section__item {
    width: calc(100% - 40px)/4;
  }
}

.skills-section__icon {
  background-color: #F5F4FA;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.skills-section__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #000;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
@media screen and (min-width: 480px) {
  .skills-section__title {
    display: flex;
    justify-content: center;
  }
}

.skills-section__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  line-height: 1.71;
}

.skills-section__svg {
  height: 120px;
}

.teams-section {
  background: #F5F4FA;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .teams-section__list {
    display: flex;
    flex-wrap: nowrap;
    margin: -15%;
  }
}

.teams-section__item {
  background-color: #FFFFFF;
  width: 450px;
  height: 622px;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (max-width: 767px) {
  .teams-section__item:not(:last-child) {
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .teams-section__item {
    margin: 15%;
  }
}

.teams-section__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  color: #212121;
}

.teams-section__name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 30px;
  color: #212121;
}

.teams-section__job {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: center;
  margin-top: 10px;
}

.social-networks {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 16px;
}

.social-networks__link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #FFFFFF;
}
.social-networks__link:hover {
  background-color: #2196F3;
}

.section-clients__title {
  text-align: center;
  margin-bottom: 30px;
}

.section-clients__list {
  display: inline-block;
  display: flex;
  flex-wrap: wrap;
}

.section-clients__item {
  width: calc((100% - 60px) / 2);
  height: 92px;
  margin: 15px;
}
@media screen and (min-width: 768px) {
  .section-clients__item {
    width: calc((100% - 90px) / 3);
  }
}
.section-clients__link {
  width: 100%;
  height: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
}
.section-clients__link:hover {
  border: 1px solid #2196F3;
}
.section-clients__link:hover .section-clients__icon {
  fill: #2196F3;
}

.section-clients__icon {
  fill: #AFB1B8;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 93px 15px;
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 1;
  pointer-events: none;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: relative;
}
@media (min-width: 768px) {
  .modal {
    position: absolute;
    top: 20%;
    left: 20%;
    transform: translate(-50%, -50%);
  }
}
@media (min-width: 1200px) {
  .modal {
    position: absolute;
    top: 20%;
    left: 30%;
  }
}

.form {
  position: absolute;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.label-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
  width: 370px;
}

.form-input {
  padding-left: 30px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  height: 40px;
}
.form-input:focus {
  border-color: #2196F3;
  outline: none;
}

.form__name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 4px;
}

.form-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-top: 0px;
  margin-bottom: 12px;
}

.form-icon {
  position: absolute;
  top: 30px;
  left: 10px;
}
.form__input .form-icon:focus {
  fill: #2196F3;
}

.comment-text {
  width: 338px;
  height: 120px;
  resize: none;
  padding: 12px 16px 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 10px;
}
.comment-text:focus {
  border-color: #2196F3;
  outline: none;
}

.checkbox {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  justify-content: center;
  align-items: center;
}

.span-terms {
  color: #2196F3;
  margin-left: 2px;
  text-decoration: underline;
}

.form__button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  width: 200px;
  height: 50px;
  background: #2196F3;
  border: 0;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: #fff;
  margin-top: 30px;
  cursor: pointer;
}
.form__button:hover, .form__button:focus {
  background-color: #2196F3;
}

.form-div {
  display: flex;
  justify-content: center;
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  padding: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 50%;
  background-color: #FFFFFF;
  color: #000000;
  cursor: pointer;
}

.page-footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.container-address {
  text-align: center;
}
@media screen and (min-width: 768px) {
  .container-address {
    display: inline-block;
    padding-left: 76px;
  }
}

.footer-list {
  padding: 0px;
  text-align: center;
}

.footer-item:not(:last-child) {
  margin-bottom: 8px;
}

.footer-address__link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-address__link:hover {
  color: #FFFFFF;
}

.footer-networks__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
  margin-top: 60px;
}

.footer-form {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-end;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  .footer-form {
    display: inline-block;
    padding-left: 76px;
  }
}

.footer-form__field {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 60px;
}

.footer-form__label {
  display: inline-block;
  margin-bottom: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-align: center;
}

.footer-form__button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background: #2196F3;
  border: 0;
  border-radius: 4px;
  margin-top: 20px;
}

.footer-form__button.span {
  color: #FFFFFF;
  margin-left: 31px;
}

.footer-networks {
  position: absolute;
}

.footer-networks__item {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
.footer-networks__item:not(:last-child) {
  margin-right: 10px;
}
.footer-networks__item:hover {
  background-color: #2196F3;
}

.footer-networks__list {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  padding: 0px;
}

.footer-form__input {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  margin-right: 12px;
  padding: 15px 16px;
  width: 400px;
  margin: auto;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: #2F303A;
  color: #FFFFFF;
}
.footer-form__input::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}
.footer-form__input:focus {
  border-color: #2196F3;
  outline: none;
}

.footer-form__icon {
  margin-left: 12px;
  margin-right: 13px;
  fill: #FFFFFF;
}

.buttons-section__list {
  margin-bottom: 40px;
  margin-top: 60px;
  display: flex;
  gap: 8px;
  row-gap: 15px;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.buttons-section__item {
  display: inline-block;
}

.buttons-section__button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  padding: 6px 22px;
  text-align: center;
  letter-spacing: 0.03em;
  background: #F5F4FA;
  border-radius: 4px;
  color: #212121;
  max-width: 130px;
  border: 0;
}
.buttons-section__button:hover, .buttons-section__button:focus {
  background: #2196F3;
  border-radius: 4px;
  color: #FFFFFF;
}

.buttons-section__button--primary {
  background: #2196F3;
  border-radius: 4px;
  color: #FFFFFF;
}

.card-section {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.card-set {
  width: 480px;
}

.card-set.list {
  margin-bottom: 60px;
  padding: 0px;
}

.card-set__item {
  background: #FFFFFF;
  border: 1px solid #EEEEEE;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  position: relative;
  width: 450px;
}
.card-set__item:not(:last-child) {
  margin-bottom: 30px;
}

.card-overlay__text {
  padding: 77px 24px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
  letter-spacing: 0.03em;
}

.card-set__name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
  margin-top: 20px;
  margin-bottom: 4px;
  padding-left: 24px;
  padding-right: 24px;
}

.card-set__group {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #757575;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  margin: 0;
}

.card-overlay {
  position: relative;
  overflow: hidden;
}

.card-overlay__container {
  position: absolute;
  content: "";
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 1;
  transform: translateY(370px);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-set__item:hover .card-overlay__container, .card-set__item:focus .card-overlay__container {
  transform: translateY(0);
}/*# sourceMappingURL=main.css.map */