@import "./utils/base";
@import "./utils/variables";
@import "./utils/plaseholder";
@import "./components/logo";
@import "./components/_header";
@import "./components/hero-section";
@import "./components/skills-section";
@import "./components/teams-section";
@import "./components/section-clients";
@import "./components/modal";
@import "./components/footer";
@import "./components/portfolio";