.buttons-section{
    @extend %container;
}
.buttons-section__list{
    @extend %list;

    
    margin-bottom: 40px;
    margin-top: 60px;

    display: flex;
    gap: 8px;
    row-gap: 15px;
    justify-content: flex-start;
    flex-wrap: wrap;

 
       
}
.buttons-section__item{
    display: inline-block;


    
}
.buttons-section__button{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    padding: 6px 22px;
    
    text-align: center;
    letter-spacing: 0.03em;
    background: $primary-gray-bcg;
    border-radius: 4px;
 
    color:$primary-black-color;
    
    max-width:130px;
    border: 0;
 


    &:hover,
    &:focus{

    background: $primary-blue-color;
    
    border-radius: 4px;
    color: $primary-white-color;
}
       
}
.buttons-section__button--primary {
    background: $primary-blue-color;
  
    border-radius: 4px;
    color: $primary-white-color;
}