.card-section{
padding-bottom: 60px;
}
.card-container{
    @extend %container;
}
.card-set{

    width: 480px;
}
.card-set.list{
    @extend %list;
   
    padding: 0px;
    @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
            margin: -15px;
        }
}
.card-set__item{
   
    background:$primary-white-color;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16); 

    position: relative;
    width: 100%;

    
    &:not(:last-child) {
    margin-bottom: 30px;
    }

 @media screen and (max-width: 767.9px) {
     &:not(:last-child) {
         margin-bottom: 30px;
     }
 }

 @media screen and (min-width: 768px) {
     width: calc((100% - 60px) / 2);
     margin: 15px;
 }

 @media screen and (min-width: 1200px) {
     width: calc((100% - 90px) / 3);
 }
 
}
.card-overlay__text {
    padding: 77px 24px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    color: $primary-white-color;


    letter-spacing: 0.03em;


}
.card-set__name{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;


    letter-spacing: 0.06em;
   color:$primary-black-color;
   
    margin-top: 20px;
    margin-bottom: 4px;
    padding-left: 24px;
    padding-right: 24px;
}
.card-set__group{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color:$primary-text-color;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;
    margin: 0;
}


.card-overlay {
    position: relative;
    overflow: hidden;

}
.card-overlay__container {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: $blue-bcg-color;
    opacity: 1;
    transform: translateY(370px);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .card-set__item:hover &,
    .card-set__item:focus & {
            transform:  translateY(0);
        }
}
