.page-footer{
    background-color: #2F303A;

        @media screen and (min-width: 480px) {
                width: 480px;
            }

    padding-top: 60px;
    padding-bottom: 60px;


}
.footer-logo{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #FFFFFF;

    text-decoration: none;
    display: flex;
    justify-content: center;

    margin-bottom: 20px;

}
.footer-logo span{
  color: #2196F3;;
}
.footer-form{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.footer-list{
    list-style: none;
    padding: 0px;
    text-align: center;
    margin-bottom: 0px;
  
}
.footer-address__link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
      
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;


    &:hover{
        color:#FFFFFF;
    }
}
.footer-networks__list{
    list-style: none;
}
.footer-networks__title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
       
    color: #FFFFFF;

    margin-bottom: 20px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
}
.footer-form__field{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    
    color: #FFFFFF;


}
.footer-form__label{
    margin-top: 60px;
    
}
.footer-form__button{
    font-family: 'Roboto';
    font-style: normal;
     font-weight: 700;
    font-size: 16px;
    line-height: 30px;

    width: 200px;
    height: 50px;

    
    display: flex;
     align-items: center;
    justify-content: center;
    letter-spacing: 0.06em;
    
    color: #FFFFFF;
    background: #2196f3;
    border-color: #2196f3;
    border-radius: 4px;
  margin-top: 20px;

}
.footer-form__button.span{
    color: #FFFFFF;
    margin-left: 31px;
}
.footer-networks__item{
    width: 44px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color:rgba(255, 255, 255, 0.1);
        
        &:not(:last-child) {
            margin-right: 10px;
        }
    
        &:hover {
            background-color: #2196F3;
        }
}
.footer-networks__list{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 0px;


    
}
.footer-form__input{
    width: 420px;

    
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background: #2F303A;
    padding: 15px;
    margin-top: 20px;
}
.footer-form__icon{
    margin-left: 12px;
    margin-right: 13px;
    fill: #FFFFFF;
}