.page-footer{
    background-color: #2F303A;

    @media (min-width: 480px){
        background-color:#2F303A;
    }

    padding-top: 60px;
    padding-bottom: 60px;


}
.footer-logo{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #FFFFFF;

    text-decoration: none;
    display: flex;
    justify-content: center;

    margin-bottom: 20px;

}
.footer-logo span{
  color: #2196F3;;
}
.address-container{

}
.footer-list{
    list-style: none;
   
}
.footer-address__link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
      

    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;


    &:hover{
        color:#FFFFFF;
    }
}
.footer-networks__list{
    list-style: none;
}
.footer-networks__title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
       
    color: #FFFFFF;
}
.footer-form__field{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    
    color: #FFFFFF;
}
.footer-form__button{
    font-family: 'Roboto';
    font-style: normal;
     font-weight: 700;
    font-size: 16px;
    line-height: 30px;

    width: 200px;
    height: 50px;

    
    display: flex;
     align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    
    color: #FFFFFF;
   background: #2196F3;
  

}
.footer-form__icon{
   
}
.footer-networks__item{
    width: 44px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color:rgba(255, 255, 255, 0.1);
        
    
        &:hover {
            background-color: #2196F3;
        }
}
.footer-networks__list{
    display: flex;
flex-wrap: nowrap;
    
}