.footer-container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    @media screen and (min-width: 480px) {
        width: 480px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}
.page-footer{
    background-color: #2F303A;

    padding-top: 60px;
    padding-bottom: 60px;
  


}
.container-address{
    text-align: center;
    @media screen and (max-width: 767px) {
        
    }

    @media screen and (min-width: 768px) {
        display: inline-block;
        padding-left: 76px;
    }
}

.footer-logo{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #FFFFFF;

    text-decoration: none;
    display: flex;
    justify-content: center;

    margin-bottom: 20px;

}
.footer-logo span{
  color: #2196F3;
}

.footer-list{
    list-style: none;
    padding: 0px;
    text-align: center;

  
}
.footer-address__link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
      
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    
    &:not(:last-child) {
        margin-bottom: 8px;
    }


    &:hover{
        color:#FFFFFF;
    }
}
.footer-networks__list{
    list-style: none;
}
.footer-networks__title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
       
    color: #FFFFFF;

    margin-bottom: 20px;
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.footer-form {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
    justify-content: center;

    @media screen and (max-width: 767px) {

    }

    @media screen and (min-width: 768px) {
        display: inline-block;
        padding-left: 76px;
    }
}
.footer-form__field{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    margin-top: 60px;

}
.footer-form__label{
    display: inline-block;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
    
}
.footer-form__button{
    font-family: 'Roboto';
    font-style: normal;
     font-weight: 700;
    font-size: 16px;
    line-height: 30px;

    width: 200px;
    height: 50px;

    
    display: flex;
     align-items: center;
    justify-content: center;
    letter-spacing: 0.06em;
    
    color: #FFFFFF;
    background: #2196f3;
    border-color: #2196f3;
    border-radius: 4px;
  margin-top: 20px;

}
.footer-form__button.span{
    color: #FFFFFF;
    margin-left: 31px;
}
.footer-networks__item{
    width: 44px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color:rgba(255, 255, 255, 0.1);
        
        &:not(:last-child) {
            margin-right: 10px;
        }
    
        &:hover {
            background-color: #2196F3;
        }
}
.footer-networks__list{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 0px;


    
}
.footer-form__input{
    margin-right: 12px;
    padding: 15px 16px;
    width: 400px;
  
    margin:  auto;

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: rgba(33, 150, 243, 0);
    color: #FFFFFF;

   
    &::placeholder {
        color: rgba(255, 255, 255, 0.6);
        font-size: 16px;
        line-height: 1.25;
    }

    &:focus {
        border-color:#2196F3;
        outline: none;
    }


}
.footer-form__icon{
    margin-left: 12px;
    margin-right: 13px;
    fill: #FFFFFF;
}