.footer-container{
    @extend %container;
}
.page-footer{
    background-color: #2F303A;

    padding-top: 60px;
    padding-bottom: 60px;

}
.container-address{
    text-align: center;

    @media screen and (min-width: 768px) {
        display: inline-block;
        margin-left: 60px;
    }
    @media screen and (min-width: 1199px) {
      margin-left: 0px;
    
  }
}
.footer-div{
    @media screen and (max-width: 767px) {
        display: flex;
        flex-direction: column;
        }
    @media screen and (min-width: 767px) {
        display: flex;  
        }
    @media screen and (max-width: 1200px) {
     display: flex;
     
   }

}
.footer-navv{
    @media screen and (min-width: 1200px) {
            display: flex;
        }
}
.footer-list{
    @extend %list;
    padding: 0px;
    text-align: center;
    margin-top: 20px;
    @media screen and (min-width: 1199px) {
        text-align: start;
    }
      
}

.footer-item{
    &:not(:last-child) {
        margin-bottom: 8px;
        }
}
.footer-address__link{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
    @extend %link;

    &:hover{
        color: $primary-white-color;
    }
}
.footer-networks{
 
    text-align: center;
    @media screen and (min-width: 768px){
        margin-bottom: 60px;
    }

    @media screen and (min-width: 768px) {
        display: inline-block;
        margin-left: 165px;
        margin-bottom: 0;
        margin-top: 5px;
    }
    @media screen and (min-width: 1200px) {
    margin-left: 60px;
    margin-top: 12px;
    text-align: start;
    }


}
.footer-networks__link{
    display: flex;
}
.footer-networks__list{
    @extend %list;
}
.footer-networks__title{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
       
    color: $primary-white-color;

    margin-bottom: 20px;
    

    @media screen and (max-width: 767px) {
    margin-top: 60px;
    }
}

.footer-form {
@media screen and (max-width: 1199px) {
        margin-top: 60px;
        display: flex;
        flex-wrap: wrap;
        align-content: flex-end;
        justify-content: center;
    }

    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: center
    }
}
.footer-form__field{
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    
    color: $primary-white-color;
    display: flex;
    flex-direction: column;
   
    
    @media screen and (min-width: 1200px) {
        margin-bottom: 0;
        padding-bottom: 20px;
    }

    @media screen and (max-width: 1199px) {
        margin-bottom: 20px;
    }
}
.footer-form__label{
    display: inline-block;
    margin-bottom: 20px;
    width: 100%;
    text-transform: uppercase;
    color: $primary-white-color;
    text-align: center;

    @media screen and (min-width: 1200px) {
        text-align: left;
        margin-left: 80px;
    }
    
}
.footer-form__button{
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
 
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.06em;
    
    color: #FFFFFF;
    background: $primary-blue-color;
    border:0;
    border-radius: 4px;
    margin-top: 20px;
    padding: 10px 31px;
    cursor: pointer;

     @media screen and (min-width: 1200px) {
        margin-top: 14px;
    }


}
.footer-form__button.span{
    color: $primary-white-color;
    margin-left: 31px;
}

.footer-networks__item{
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color:rgba(255, 255, 255, 0.1);
        
    &:not(:last-child) {
        margin-right: 10px;
    }
    
    &:hover {
    background-color:$primary-blue-color;
        }
}
.footer-networks__list{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    padding: 0px;
  
}
.footer-form__input{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    width: 100%;
   

    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    margin-right: 12px;
    padding: 15px 16px;

  
    margin:  auto;

    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color:#2F303A;
    color: $primary-white-color;

   
    &::placeholder {
        color: rgba(255, 255, 255, 0.6);
        font-size: 16px;
        line-height: 1.25;
    }

    &:focus {
        border-color:$primary-blue-color;
        outline: none;
    }
    
    @media screen and (min-width: 1200px) {
    width: 358px;
    margin-right: 12px;
}


}
.footer-form__icon{
    margin-left: 12px;
    fill: $primary-white-color;
}
.social-networks__icon--footer{
    fill: $primary-white-color;
}