.container {
    @extend %container;

}
.page-header{
    border-bottom: 1px solid #ECECEC;
    position: relative;

    .container-button{
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 80px;
        
    }
}
.site-nav__list{
    @extend %list;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    letter-spacing: 0.02em;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    
    margin-bottom:302px ;
   

    .site-nav__link{
        color:$primary-black-color;

        &:hover,
        &:focus{
            color: $primary-blue-color;
        }

    }
    .active{
    color: $primary-blue-color;
    }
}
.site-nav__item{
    &:not(:last-child) {
         margin-bottom: 35px;
        }
}
.site-nav__link{
    @extend %link;
   
    
    
    color:$primary-black-color;
 
    


  
}

.auth-nav__list{
    @extend %list;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;


    letter-spacing: 0.02em;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
   


    .auth-nav__link{
        
            &:hover,
            &:focus {
            color: $primary-blue-color;
            }
    }
}
.auth-nav__link{
    @extend %link;
 
    
    color:$primary-text-color;


  

  
}
.auth-nav__item{
    &:not(:last-child) {
            margin-bottom: 32px;
        }
}
.network-list{
    font-family: 'Roboto';
    font-style: normal;
     font-weight: 500;
    font-size: 18px;
    line-height: 22px;
       
    
    letter-spacing: 0.02em;
 
    @extend %list;
    
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
   
    padding: 0px;
    margin-top: 64px;
 

}
.network-link{
    @extend %link;
    color: $primary-blue-color;
   


    

}
.network-item{
    &:not(:last-child) {
            margin-right: 20px;
        }
}


.button-menu{
    display: inline-flex;
    margin: 0px;
    padding: 0px;
    border: none;
    background-color: transparent;
  

    @media screen and (min-width:767px) {
            display: none;
        }
    


    
}
.button-menu .icon-cross{
    display: none;
}
.button-menu.is-open .icon-cross{
    display: block;
}
.button-menu.is-open .icon-menu{
    display: none;
}

.menu-svg{
    width: 32px;
  
    
}

.menu-container.is-open {
    display: block;
}
.menu-container{
    
    display: none;
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;

    
    text-align: center;
    padding: 48px 40px;


    background-color:$primary-white-color;

    @media screen and (max-width:480px) {
  
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100%;
        }
   @media screen and (min-width: 767px) {
       display: none;
   }


}

.network-item{
    display: flex;
    flex-wrap: nowrap;
}
