.container {
    @extend %container;

}
.page-header{
    border-bottom: 1px solid #ECECEC;
    position: relative;
    @media screen and (max-width:767px) {
    .container-button{
        display: flex;
        align-items: center;
        justify-content: space-between;
        min-height: 80px;
  
        
    }
}
    @media screen and (min-width:768px) {
    
     .container-button{
        display: flex;
        margin-top: 21px;
        margin-bottom: 21px;
      
     }
    }
    
    
}
.header-menu{
     @media screen and (min-width:768px) {
        display: flex;
        margin-left: 88px;
    }
}

.site-nav__list{
    @extend %list;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
   
    text-align: center;
    letter-spacing: 0.02em;
    
    @media screen and (max-width:767px) {
    display: flex;
        align-items: flex-start;
        flex-direction: column;
    
        margin-bottom: 302px;
        font-size: 40px;
            line-height: 47px;
    }
   
    @media screen and (min-width:768px) {
 display: flex;
font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    }
    .site-nav__link{
        color:$primary-black-color;

        &:hover,
        &:focus{
            color: $primary-blue-color;
        }

    }
    .active{
    color: $primary-blue-color;
    }
}
.site-nav__item{
    @media screen and (max-width:767px) {
    &:not(:last-child) {
         margin-bottom: 35px;
        }
    }
    @media screen and (min-width:768px) {
         &:not(:last-child) {
                margin-right: 51px;
                }


}
}
.site-nav__link{
    @extend %link;
   
    
    
    color:$primary-black-color;
 
    


  
}

.auth-nav__list{
    @extend %list;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
  
    line-height: 16px;


    letter-spacing: 0.02em;
    display: flex;
    align-items: flex-start;
    flex-direction: column;

    @media screen and (max-width:767px) {
        font-size: 34px;
        line-height: 40px;
    }
    @media screen and (min-width:768px) {
     
        
    }
        @media screen and (min-width:1199px) {
        flex-direction: row;
 
        }



    .auth-nav__link{
        
            &:hover,
            &:focus {
            color: $primary-blue-color;
            }
    }
}
.auth-nav__link{
    @extend %link;
 
    
    color:$primary-text-color;
 


  

  
}
.auth-nav__item{
    @media screen and (max-width:767px) {
    &:not(:last-child) {
            margin-bottom: 32px;
        }
}
        @media screen and (min-width:768px) {
            &:not(:last-child) {
                margin-bottom: 10px;
                display: flex;
            }
        }

            
    @media screen and (max-width:1199px) 
    {&:not(:last-child) {
        margin-right: 30px;
    }
       
    


}
}
.network-list{
    font-family: 'Roboto';
    font-style: normal;
     font-weight: 500;
    font-size: 18px;
    line-height: 22px;
       
    
    letter-spacing: 0.02em;
 
    @extend %list;
    
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
   
    padding: 0px;
    margin-top: 64px;

    @media screen and (min-width:768px) {
            display: none;
        }
 

}
.network-link{
    @extend %link;
    color: $primary-blue-color;
   


    

}
.network-item{
    &:not(:last-child) {
            margin-right: 20px;
        }
}


.button-menu{
    display: inline-flex;
    margin: 0px;
    padding: 0px;
    border: none;
    background-color: transparent;
  

    @media screen and (min-width:767px) {
            display: none;
        }
    


    
}
.button-menu .icon-cross{
    display: none;
}
.button-menu.is-open .icon-cross{
    display: block;
}
.button-menu.is-open .icon-menu{
    display: none;
}

.menu-svg{
    width: 32px;
  
    
}

.menu-container.is-open {
    display: block;
}

.menu-container{






    background-color: $primary-white-color;

    @media screen and (max-width:767px) {
        display: none;
        padding: 48px 40px;

        position: absolute;
        top: 100%;
        left: 0%;
        width: 100%;
    }

   
}
.navigation.contacts{
    height: 40px;
    width: 50px;
}
.navigation{
  
    
    @media screen and (min-width:768px) {
    display: flex;
        align-items: center;
        margin-right: 96px;
}
}
.contacts{
    
}
.network-item{
    display: flex;
    flex-wrap: nowrap;
}
.auth-nav__icon{
    margin-right: 8px;


   

    @media screen and (max-width: 767px) {
        display: none;
    }

    @media screen and (min-width: 1200px) {
        margin-right: 10px;
    }
}
