.hero-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    margin-left: auto;
    margin-right: auto;

    padding: 0 15px;


   
    height: 400px;
    background-image: linear-gradient(to right,
                rgba(0, 0, 0, 0.2),
                rgba(47, 48, 58, 0.4)),
            url(/images/Header\ img.jpg);
    box-sizing: cover;
    
    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: linear-gradient(to right,
                rgba(0, 0, 0, 0.2),
                rgba(47, 48, 58, 0.4)),
            url(/images/Header\ img@2x.jpg);
    }

    @media screen and (min-width: 768px) {
     background-image: linear-gradient(to right,
             rgba(0, 0, 0, 0.2),
             rgba(47, 48, 58, 0.4)),
         url(/images/Header-tablet-img.jpg);
    
     @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: linear-gradient(to right,
                rgba(0, 0, 0, 0.2),
                rgba(47, 48, 58, 0.4)),
            url(/images/Header-tablet-img@2x.jpg);
    }
    }
    @media screen and (min-width: 1199px) {
    width: 100%;
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(to right,
            rgba(0, 0, 0, 0.2),
            rgba(47, 48, 58, 0.4)),
        url(/images/header-desktop.jpg);

    @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
        background-image: linear-gradient(to right,
                rgba(0, 0, 0, 0.2),
                rgba(47, 48, 58, 0.4)),
            url(//images/header-desktop@2x.jpg);
    }
}
}



.hero-section__title{
    font-weight: 900;
    font-size: 26px;
    line-height: 42px;

    letter-spacing: 0.06em;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    color: $primary-white-color;
}

.hero-section__button{
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    padding: 10px 24px;

    background:$primary-blue-color;
    border:0;
    border-radius: 4px;

    letter-spacing: 0.06em;
    
    color: $primary-white-color;
    cursor: pointer;  
}

