.logo{
    color:$primary-black-color;
    text-decoration: none;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}
.logo span{
   color: $primary-blue-color;
}
.footer-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: $primary-white-color;
    text-decoration: none;
  
    @media screen and (min-width: 1199px) {
     display: flex;
    }

}

.footer-logo span {
    color: $primary-blue-color;
}