.backdrop {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 93px 15px ;

    overflow-y: scroll;

}
.backdrop.is-hidden {
    opacity: 1;
    pointer-events: none;
}
.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.modal
{
    position: relative;
    @media (min-width:768px){
        position: absolute;
        top:20%;
        left:20%;
        transform: translate(-50%, -50%);
    }

    @media (min-width:1200px) {
        position: absolute;
        top: 20%;
        left: 30%;
    }

}
.form{
    position: absolute;

    padding: 40px;
  background-color: #fff;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
  
}
.label-form{

    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    position: relative;
    width: 370px;

 
}
.form-input{
    padding-left: 30px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    height: 40px;

    &:focus {
        border-color: #2196F3;
        outline: none;
    }
    
  
}
.form__name{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    
    color: #757575;
    margin-bottom: 4px;
   
}
.form-title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
     font-size: 20px;
     line-height: 30px;

    
     text-align: center;
    letter-spacing: 0.03em;
    
    color: #212121;
   margin-top: 0px;
    margin-bottom: 12px;
}
.form-icon {
    position: absolute;
    top: 30px;
    left: 10px;

    .form__input &:focus { 
        fill:#2196F3;
    }
}
.comment-text{
    
    width: 338px;
    height: 120px;
    resize: none;
    padding: 12px 16px 12px 16px;
    border: 1px solid rgba(33, 33, 33, .2);
    border-radius: 4px;
    margin-bottom: 10px;

    &:focus {
        border-color: #2196F3;
        outline: none;
    }

   
}
.checkbox{
font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;


    letter-spacing: 0.03em;

    color: #757575;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.span-terms {
    color: #2196f3;
    margin-left: 2px;
    text-decoration: underline;
}
.form__button{
    width: 200px;
    height: 50px;
    background: #2196f3;
    border-color: #2196f3;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: .06em;
    color: #fff;
    margin-top:30px;
    cursor: pointer;

    &:hover,
    &:focus{
        background-color: #2196f3;
    }
    
}
.form-div{
    display: flex;
    justify-content: center;
}
.button-close {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 0;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 50%;
    background-color: $primary-white-color;
    color: #000000;
    cursor: pointer;
}



