.backdrop {
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $primary-transperent-color;
    padding: 93px 15px ;

    overflow-y: scroll;

}
.backdrop.is-hidden {
    opacity: 1;
    pointer-events: none;
}
.is-hidden {
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
}
.modal{ 
    margin-left: auto;
    margin-right: auto;
    position: relative;
   
    @media screen and (min-width: 480px) {
        max-width: 450px;
        width: 100%;
    }

    @media screen and (min-width: 767px) {
        position: absolute;
        top: 18%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1);
    }

    @media screen and (min-width: 1200px) {
        max-width: 528px;
        width: 100%;
    }

}
.button-close {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 0;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 50%;
    background-color: $primary-white-color;
    color: #000000;
    cursor: pointer;
    right: 5px;
    top: 5px;
}
.form{
    position: absolute;
    padding: 40px;
    background-color: #fff;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px $primary-transperent-color;
    border-radius: 4px; 
}
.label-form{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    position: relative;
    width: 100%;   
}
.form-input{
    padding-left: 30px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    height: 40px;
    width: 100%;

    &:focus {
        border-color: $primary-blue-color;
        outline: none;
    }
   
}
.form__name{
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    letter-spacing: 0.01em;

    
    color:$primary-text-color;
    margin-bottom: 4px;
   
}
.form-title{
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;

    text-align: center;
    color:$primary-black-color;
    margin-top: 0px;
    margin-bottom: 12px;
}
.form-icon {
    position: absolute;
    top: 30px;
    left: 10px;

     &:hover {
        fill: $primary-blue-color;
    }
}
.comment-text{
    height: 120px;
    resize: none;
    padding: 12px 16px 12px 16px;
    border: 1px solid rgba(33, 33, 33, .2);
    border-radius: 4px;
    margin-bottom: 10px;

    &:focus {
        border-color:$primary-blue-color;
        outline: none;
    }  
}
.checkbox{
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: $primary-text-color;
    display: flex;
    justify-content: center;
    align-items: center;
 
}
.checkbox-input{
    margin-right: 5px;
}

.span-terms {
    color: $primary-blue-color;
    margin-left: 2px;
    text-decoration: underline;
}
.form__button{
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    
    width: 200px;
    height: 50px;
    background: $primary-blue-color;
    border:0;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: .06em;
    color: #fff;
    margin-top:30px;
    cursor: pointer;

    &:hover,
    &:focus{
        background-color: $primary-blue-color;
    }
    
}
.form-div{
    display: flex;
    justify-content: center;
}




