.portfolio-section{
    @extend %section;
}

.portfolio-container{
    @extend %container;
}
.buttons-section__list{
    @extend %list;
    display: flex;
    

    @media screen and (max-width: 767px) {
        flex-wrap: wrap;
        margin-bottom: -15px; 
    }

    @media screen and (min-width: 768px) {
        justify-content: center;
    }       
}
.buttons-section__item{
  
    @media screen and (max-width: 767.9px) {
        margin-bottom: 15px;
    }

    &:not(:last-child) {
        margin-right: 8px;
    }    
}
.buttons-section__button{
    font-weight: 500;

    font-size: 16px;
    line-height: 26px;
    padding: 6px 22px;
    
    text-align: center;
    letter-spacing: 0.03em;
    background: $primary-gray-bcg;
    border-radius: 4px;
 
    color:$primary-black-color;
    cursor: pointer;
    max-width:130px;
    border: 0;
    
 
    &:hover,
    &:focus{

    background: $primary-blue-color;
    
    border-radius: 4px;
    color: $primary-white-color;
}
       
}
.buttons-section__button--primary{
    background: $primary-blue-color;
    color: $primary-white-color;
}





.card-set.list {
    @extend %list;

    padding: 0px;
    @media screen and (max-width: 767px) {
    margin-top: 40px;
        }

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin-top: 30px;
       
    }
}

.card-set__item {

    background: $primary-white-color;
    border: 1px solid #EEEEEE;

    position: relative;
    width: 100%;
    &:hover{
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }


    &:not(:last-child) {
        margin-bottom: 30px;
    }

    @media screen and (max-width: 767.9px) {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }

    @media screen and (min-width: 768px) {
        width: calc((100% - 60px) / 2);
        margin: 15px;
    }

    @media screen and (min-width: 1200px) {
        width: calc((100% - 90px) / 3);
    }

}

.card-overlay__text {
    padding: 49px 24px 77px 24px;
    font-weight: 400;
    font-size: 18px; 
    line-height: 28px;
    color: $primary-white-color;


    letter-spacing: 0.03em;


}

.card-set__name {
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;


    letter-spacing: 0.06em;
    color: $primary-black-color;

    margin-top: 20px;
    margin-bottom: 4px;
    padding-left: 24px;
    padding-right: 24px;
}

.card-set__group {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: $primary-text-color;
    padding-left: 24px;
    padding-right: 24px;
    padding-bottom: 20px;
    margin: 0;
}


.card-overlay {
    position: relative;
    overflow: hidden;
    cursor: pointer;

}

.card-overlay__container {
    position: absolute;
    content: "";
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: $blue-bcg-color;
    opacity: 1;
    transform: translateY(370px);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .card-set__item:hover &,
    .card-set__item:focus & {
        transform: translateY(0);
    }
}
