.section-clients{
    background-color: #ffffff;
    padding-top: 60px;
    padding-bottom: 60px;
}

.clients-container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    @media screen and (min-width: 480px) {
        width: 480px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
    }

    @media screen and (min-width: 1200px) {
        width: 1200px;
    }
}
.section-clients__title{
    text-align: center;
    margin-bottom: 30px;
}
.section-clients__list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;

    @media screen and (min-width: 1200px) {
            display: flex;
            flex-wrap: nowrap;
        }
    }
  
    

.section-clients__item{
    width: calc((100% - 60px) / 2);
    height: 92px;
    margin: 15px;
 


}

.section-clients__icon {
    color: #AFB1B8;
    
   
 
}
.section-clients__link{
    width: 210px;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#AFB1B8;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    
    &:hover{
    border: 1px solid#2196F3;
    }
    
   &:hover .section-clients__icon {
       fill: #2196F3;

   }
  

}
