.skills-section{
   background-color:#FFFFFF;
}
.skills-container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    @media screen and (min-width: 480px) {
        width: 480px;
    }

    @media screen and (min-width: 768px) {
        width: 768px;
        
    }
    @media screen and (min-width: 1200px) {
        width: 1200px;
    
   
}
}
.skills-section__list{
    list-style: none;
    padding: 60px 15px 60px 15px;
    margin: 0px;

        @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
         @media screen and (min-width: 1200px) {
        display: flex;
        flex-wrap: nowrap;
      
        }
 
  
}
.skills-section__item{

    @media screen and (max-width: 767px) {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
      
        

}
}
.skills-section__icon{
    
    background-color: #F5F4FA;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.skills-section__title{
   
    margin-bottom: 10px;

    font-size: 14px;
    line-height: 1.71;
    text-transform: uppercase;
    color: #000;
    display: flex;
    justify-content: center;
    margin-top: 30px;
 

    @media screen and (min-width: 480px) {
    
    display: flex;
    justify-content: center;
    }
      

}
.skills-section__text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    letter-spacing: 0.03em;
    
    color: #757575;
    text-align: left;
    line-height: 1.71;
    
}
.skills-section__svg{
height: 120px;

}