.teams-section{
    background: $primary-gray-bcg;
    padding-top: 60px;
    padding-bottom: 60px;
}
.teams-container{
    @extend %container;

}


.teams-section__list{
    @extend %list;

    @media screen and (min-width: 1200px) {
        display: flex;
        flex-wrap: nowrap;
        margin: -15%;
     }

}

.teams-section__item{
    background-color:$primary-white-color;
    width: 450px;
    height: 622px;
        
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%), 0px 4px 4px rgb(0 0 0 / 6%), 1px 4px 6px rgb(0 0 0 / 16%);
    border-radius: 0px 0px 4px 4px;
    
    @media screen and (max-width: 767px) {
        
        &:not(:last-child) {
         margin-bottom: 30px;
            }
        }
    @media screen and (min-width: 1200px) {
     
            margin: 15%;
        }

}   
    
.teams-section__title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
  

    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
 
    color:$primary-black-color;
 
}
.teams-section__name{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  

    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 30px;
    
    color:$primary-black-color;
}
.teams-section__job{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;


    text-align: center;
    letter-spacing: 0.03em;
    
    color: $primary-text-color;
    text-align: center;
    margin-top: 10px;

}
.social-networks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 16px;
}

.social-networks__link {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: $primary-white-color;

    &:hover {
        background-color: $primary-blue-color;
    }

    
}

