.teams-section
{
    @media screen and (min-width: 480px) {
            width: 480px;
        }
}

.teams-section__list{
    list-style: none;
}
.teams-section__title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    letter-spacing: 0.03em;
    
    color: #212121;
}
.teams-section__name{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.03em;
    text-align: center;
    
    color: #212121;
}
.teams-section__job{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;

    letter-spacing: 0.03em;
    
    color: #757575;
    text-align: center;
}
.social-networks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.social-networks__link {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: #fff;

    &:hover {
        background-color: #2196F3;
    }
}

.teams-section__item{
    width: 450px;
    height: 622px;
   
    background: #FFFFFF;
      
    
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
}