.teams-section{
    background: $primary-gray-bcg;
    @extend %section;
}

.teams-container{
    @extend %container;
}


.teams-section__list{
    @extend %list;

    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        margin: -15px;
    }
}

.teams-section__item{
    background-color:$primary-white-color;
     
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%), 0px 4px 4px rgb(0 0 0 / 6%), 1px 4px 6px rgb(0 0 0 / 16%);
    border-radius: 0px 0px 4px 4px;

    @media screen and (max-width: 767px) {
        &:not(:last-child) {
         margin-bottom: 30px;
        }
    }

    @media screen and (min-width: 768px) {
        width: calc((100% - 60px) / 2);
        margin: 15px;
    }

    @media screen and (min-width: 1200px) {
        width: calc((100% - 120px) / 4);
    }
}
  
    
.teams-section__title{
    font-weight: 700;
    font-size: 28px;
    line-height: 33px;
    text-align: center;
    
    margin-bottom: 30px;
 
    color:$primary-black-color;

    @media screen and (min-width: 1200px){
    font-size: 36px;
    margin-bottom: 50px;
    }
 
}
.teams-section__name{
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
  
    text-align: center;
    margin-top: 30px;
    color:$primary-black-color;
}
.teams-section__job{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    
    color: $primary-text-color;
    text-align: center;
    margin-top: 10px;

}
.team-section__image{
    width: 100%;

}
.social-networks {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 16px;
    padding-bottom: 30px;
}

.social-networks__link {
    width: 44px;
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: $primary-white-color;

    &:hover {
        background-color: $primary-blue-color;
    } 
}

