$primary-white-color: #FFFFFF;
$primary-black-color: #212121;
$primary-text-color: #757575;
$primary-blue-color: #2196F3;
$primary-gray-bcg: #F5F4FA;
$secondary-gray-color: #AFB1B8;
$primary-transperent-color: rgba(0, 0, 0, 0.2);
$secondary-transperent-color: rgba(47, 48, 58, 0.8);
$gray-bcg-color: rgba(255, 255, 255, 0.1);
$blue-bcg-color: rgba(33, 150, 243, 0.9);
